hello
<!-- メニュー画面への遷移 -->
<li><a href="{% url 'oooderapp:menu' %}" class="text-white">メニュー</a></li>
<!-- カート画面への遷移 -->
<li><a href="{% url 'oooderapp:cart' %}" class="text-white">カート</a></li>
<!-- 注文履歴画面への遷移 -->
<li><a href="{% url 'oooderapp:history' %}" class="text-white">注文履歴</a></li>
<!-- 注文確認画面への遷移 -->
<li><a href="{% url 'oooderapp:order' %}" class="text-white">注文確認</a></li>
<!-- 支払い画面への遷移 -->
<li><a href="{% url 'oooderapp:pay' %}" class="text-white">お支払い</a></li>
<!-- ようこそ画面への遷移 -->   
<li><a href="{% url 'oooderapp:welcome' %}" class="text-white">ようこそ</a></li>
<!-- 会員登録画面への遷移 -->
<li><a href="{% url 'accounts:signup' %}" class="text-white">会員登録</a></li>
<li><a href="{% url 'accounts:login' %}" class="text-white">ログイン</a></li>